* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.80)100%), url("../img/capa.gif");
    background-size: cover;
}

.alternativas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 50px;
  }

#titulo{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: bold;
    padding: 0 30% 0;
}

.box{
    margin-top:150px;
}

.enviar{
    margin-top: 40px;
    text-align-last: center;  
}

#botaozinho{
    background: #feae41;
    border: none;
    font-weight: bold;
    
}

.nomeDoPerso{
    background-color: black;
    padding: 2px 10px 2px;
    text-align: center;
}

#swal2-html-container{
    text-align: center;
}

.swal2-confirm{
    background-color:grey;
}